*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    max-height: 100vw;
    display: flex;
    flex-direction: column;
}
.lilas{
    width: 2560px;
    height: 250px;
    background-color: plum;    
    gap: 5px;
    display: flex;
    justify-content:center;
}
.lilas div{
    width: 100px;
    height: 100px;
    background-color: rgb(162, 95, 221);
    border-radius: 100%;
    margin: 10px;
    border: 2px solid black;
}
.verde{
    width: 2560px;
    height: 250px;
    background-color: greenyellow;
    gap: 5px;
    display: flex;
    justify-content: center;
}
.verde div{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    margin: 10px;
    border: 2px solid black;
}
.vermelho{
    width: 2560px;
    height: 250px;
    background-color: tomato;
    gap: 5px;
    display: flex;
    justify-content: space-between;
}
.vermelho div{
    width: 100px;
    height: 100px;
    background-color: rgb(134, 27, 27);
    border-radius: 100%;
    margin: 10px;
    border: 2px solid black;
}
.amarelo{
    width: 2560px;
    height: 250px;
    background-color: yellow;
    gap: 5px;
    display: flex;
    justify-content: space-between;
}
.amarelo div{
    width: 100px;
    height: 100px;
    background-color: rgb(226, 226, 16);
    border-radius: 100%;
    margin: 10px;
    border: 2px solid black;
}
.azul{
    width: 2560px;
    height: 250px;
    background-color: cornflowerblue;
    gap: 5px;
    display:flex;
    justify-content: space-evenly;
}
.azul div{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 100%;
    margin: 10px;
    border: 2px solid black;
}
