*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    max-height: 100vw;
    display: flex;
    flex-direction: column;
}
.lilas{
    width: 100vw;
    height: 200px;
    background-color: plum;    
}
.lilas div{
    width: 80px;
    height: 80px;
    background-color: rgb(162, 95, 221);
    border-radius: 100%;
    margin: 10px;
}
.verde{
    width: 100vw;
    height: 200px;
    background-color: greenyellow;
}
.verde div{
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 100%;
    margin: 10px;
}
.vermelho{
    width: 100vw;
    height: 200px;
    background-color: tomato;
}
.vermelho div{
    width: 80px;
    height: 80px;
    background-color: rgb(134, 27, 27);
    border-radius: 100%;
    margin: 10px;
}
.amarelo{
    width: 100vw;
    height: 200px;
    background-color: yellow;
}
.azul{
    width: 100vw;
    height: 200px;
    background-color: cornflowerblue;
}
